name: Release

on:
  push:
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0  # デフォルトだとpnpmのGit Checkが失敗するので0にする

      - name: Setup Node.js and pnpm
        uses: ./.github/common/setup-node-pnpm

      - name: Run Tests
        run: |
          pnpm lint:check
          pnpm format:check

      - name: Create Release
        run: |
          pnpm release
